<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livro: {{livro.titulo}}</title>
</head>
<body>
    <h1>Livro: {{livro.titulo}}</h1>
    <ul>
        <li>{{livro.titulo}}</li>
        <li>{{livro.descricao}}</li>
        <li>{{livro.editora}}</li>
        <li>{{livro.quantidade}}</li>
        <li>{{livro.data_cadastro}}</li>
        <li>{{livro.autor}}</li>
    </ul>
    
</body>
</html>